/* nusantara-responsive.css*/

@media (max-width: 767px) {
	h1 {
		font-size: 20px;
	}
	.disclaimer {
		font-size: 12px;
	}
	.stock-photo {
		height: 60px;
	}
	.stock-photo-expand {
		height: 80px;
	}
	.photo-officer {
		height: 50px;
	}
	.photo-officer-lg {
		height: 150px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 30px;
	}
	.disclaimer {
		font-size: 12px;
	}
	.stock-photo {
		height: 150px;
	}
	.stock-photo-expand {
		height: 150px;
	}
	.photo-officer {
		height: 100px;
	}
	.photo-officer-lg {
		height: 150px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 40px;
	}
	.stock-photo {
		height: 150px;
	}
	.stock-photo-expand {
		height: 150px;
	}
}
@media (min-width: 1200px) {
	h1 {
		font-size: 50px;
	}
	.disclaimer {
		font-size: 16px;
	}
}
