body {
	font-family: roboto;
	color: #333;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-weight: bold;
}
.font14 {
	font-size: 14px;
}
.font30 {
	font-size: 30px;
}
.bold {
	font-weight: bold;
}
.header {
	position: fixed;
	z-index: 1;
	text-align: center;
	background: rgba(255,255,255,0.5);
	width: 35px;
	height: 100%;
	bottom: 0;
	right: 0;
}
.photo-culture {
	position: fixed;
	text-align: left;
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
}
#photo-batik {
	background: url(../../resources/img/stock/batik.jpg) no-repeat;
	background-size: cover;
}
#photo-gamelan {
	background: url(../../resources/img/stock/gamelan.jpg) no-repeat;
	background-size: cover;
}
#photo-wayang {
	background: url(../../resources/img/stock/wayang.jpg) no-repeat;
	background-size: cover;
}
#photo-angklung {
	background: url(../../resources/img/stock/angklung.jpg) no-repeat;
	background-size: cover;
}
#photo-tarijawa {
	background: url(../../resources/img/stock/tarijawa.jpg) no-repeat;
	background-size: cover;
}
.header-culture {
	margin-top: 50px;
}

.text-culture {
	background: rgba(255,255,255,0.8);
	color: #333;
	padding: 5px 20px;
	border-radius: 10px;
}
.btn-close {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 30px;
	font-size: 20px;
	padding: 0px 11px 4px 11px;
}
.blank-page,
.page1,
.page2 {
	background: rgba(0,0,0,0.1);
	font-size: 20px;
	text-align: center;
}
.page4,
.page6 {
	text-align: center;
	padding-top: 60px;
	background: rgba(255,255,255,0.97);
}
.page3,
.page5 {
	text-align: center;
	padding-top: 60px;
	background: rgba(230,230,230,0.97);
}
#player {
	left: -5%;
	top: -5%;
}
.onepage-pagination {
	top: 15%;
}
#page1-info {
	color: #fff;
	width: 100%;
}
#btn-mute {
	cursor: pointer;
	position: absolute;
	visibility: hidden;
	color: #333;
	top: 15px;
	left: 5px;
	padding: 5px;
	border: 1px solid #333;
	border-radius: 10px;
}
#btn-sound {
	cursor: pointer;
	position: absolute;
	visibility: visible;
	color: #333;
	top: 15px;
	left: 5px;
	padding: 5px;
	border: 1px solid #333;
	border-radius: 10px;
}
#word-bisa {
	position: absolute;
	bottom: 5%;
	right: 67px;
	font-size: 20px;
}
#word-billy {
	position: absolute;
	bottom: 2%;
	right: 90px;
	font-size: 10px;
}
#symbol-arrow {
	position: absolute;
	width: 200px;
	font-size: 15px;
	right: 70px;
	bottom: 80px;
}
#page2-info {
	text-align: center;
	font-family: "Raleway";
	position: absolute;
	background: #fff;
	background-size: 100%;
	opacity: 1;
	min-height: 100%;
	min-width: 100%;
}
#bg-nusantara {
	width: 38%;
}
#page3-info {
	text-align: center;
	color: #333;
}
.stock-photo {
	height: 170px;
	overflow: hidden;
}
.stock-photo-expand {
	height: 200px;
	cursor: pointer;
}
#btn-indiegogo {
	bottom: 10%;
}
#page4-info {
	text-align: center;
}
#page5-info {
	text-align: center;
}
.photo-officer {
	height: 180px;
	overflow: hidden;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);grayscale: 100%;
}
.photo-officer:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: url(desaturate.svg#greyscale);grayscale: 0%;
}
#page6-info img {
	padding: 10px;
	padding-top: 30px;
	width: 100%;
}